# Operating System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Environment
.env
.env.local
.env.development
.env.production

# Dependencies
node_modules/
vendor/

# Cache
.cache/
tmp/

# Composer
composer.lock

# Build
dist/
build/

# Docker
docker/*.log

# Database
*.sqlite

# Misc
*.bak
*.tmp